.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.img{
    width: 100%;
    max-width: 100px;
    position: relative;
    display: block;
    margin: -180px auto 50px auto;
}

button{
    width: 45%;
}